Scales/Scales/Scale Services/Scale_Service_Serial/Scale_Service/Web References/Truck_Scale_Connection/Scale_Connection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="CTAP" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="CTAP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="CTAP">
      <s:import namespace="http://tempuri.org/ScaleDataSet.xsd" />
      <s:import schemaLocation="http://ctap-scale/Scale_Connection.asmx?schema=ScaleDataSet" namespace="http://tempuri.org/ScaleDataSet.xsd" />
      <s:element name="GetScaleTable">
        <s:complexType />
      </s:element>
      <s:element name="GetScaleTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScaleTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/ScaleDataSet.xsd" name="namespace" />
                <s:attribute fixed="ScalesDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetScaleData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentScaleLIst">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/ScaleDataSet.xsd" name="namespace" />
                <s:attribute fixed="ScalesDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetScaleDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTime">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScaleNames">
        <s:complexType />
      </s:element>
      <s:element name="GetScaleNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScaleNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetScaleData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScaleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScaleDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScaleDataResult" type="tns:CurrentScaleData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CurrentScaleData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Motion" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="WeightString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotionString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeDateString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScaleStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScaleTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetScaleTable" />
  </wsdl:message>
  <wsdl:message name="GetScaleTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetScaleTableResponse" />
  </wsdl:message>
  <wsdl:message name="SetScaleDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetScaleData" />
  </wsdl:message>
  <wsdl:message name="SetScaleDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetScaleDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetScaleNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetScaleNames" />
  </wsdl:message>
  <wsdl:message name="GetScaleNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetScaleNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetScaleDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetScaleData" />
  </wsdl:message>
  <wsdl:message name="GetScaleDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetScaleDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Scale_ConnectionSoap">
    <wsdl:operation name="GetScaleTable">
      <wsdl:input message="tns:GetScaleTableSoapIn" />
      <wsdl:output message="tns:GetScaleTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetScaleData">
      <wsdl:input message="tns:SetScaleDataSoapIn" />
      <wsdl:output message="tns:SetScaleDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input message="tns:GetTimeSoapIn" />
      <wsdl:output message="tns:GetTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScaleNames">
      <wsdl:input message="tns:GetScaleNamesSoapIn" />
      <wsdl:output message="tns:GetScaleNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScaleData">
      <wsdl:input message="tns:GetScaleDataSoapIn" />
      <wsdl:output message="tns:GetScaleDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Scale_ConnectionSoap" type="tns:Scale_ConnectionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScaleTable">
      <soap:operation soapAction="CTAP/GetScaleTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetScaleData">
      <soap:operation soapAction="CTAP/SetScaleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="CTAP/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScaleNames">
      <soap:operation soapAction="CTAP/GetScaleNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScaleData">
      <soap:operation soapAction="CTAP/GetScaleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Scale_ConnectionSoap12" type="tns:Scale_ConnectionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScaleTable">
      <soap12:operation soapAction="CTAP/GetScaleTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetScaleData">
      <soap12:operation soapAction="CTAP/SetScaleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap12:operation soapAction="CTAP/GetTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScaleNames">
      <soap12:operation soapAction="CTAP/GetScaleNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScaleData">
      <soap12:operation soapAction="CTAP/GetScaleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Scale_Connection">
    <wsdl:port name="Scale_ConnectionSoap" binding="tns:Scale_ConnectionSoap">
      <soap:address location="http://ctap-scale/Scale_Connection.asmx" />
    </wsdl:port>
    <wsdl:port name="Scale_ConnectionSoap12" binding="tns:Scale_ConnectionSoap12">
      <soap12:address location="http://ctap-scale/Scale_Connection.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>